@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.remote .remote-only {
    display: inline-block;
}

.remote .link-download {
    background: url(images/download-sticker.png) no-repeat;
    height: 92px;
    width: 200px;
    position: absolute;
    left: 66%;
    z-index: 99;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.remote .link-download span {
    display: none;
}
/* ============================================================================================ */
.remote .visuals {
    height: 22rem;
    margin: 1rem auto;
    width: 100%;
}
/* ============================================================================================ */
.remote .progress {
    height: 341px;
    width: 580px;
    margin: 1.5rem auto 0.5rem;
    position: relative;
    left: 1.5rem;
    /*
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);*/
}

.remote .cassette-parts {
    position: absolute;
    height:	341px;
    margin: -13px 0 0 -11px;
    width: 556px;
}
.remote .cassette-cover { background: url(images/cassette-cover.png); }
.remote .cassette-back { background: url(images/cassette-back.png); }
.remote .cassette-label {
    background: url(images/cassette-label.png);
    box-sizing: border-box;
    position: absolute;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:3rem;
    height:	245px;
    margin: 13px 0 0 15px;
    width: 518px;
    padding: 30px 0 0 70px;
    line-height: 20px;
}
.remote .subtitle {
    font-size: 1.5rem;
    margin-top:0.5rem;
}
.remote .cassette-label span {
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
    display: block;
}
.remote .wheel {
    background: url(images/wheel.gif) center center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width:287px;
    height:287px;
}
.remote .wheel-wrapper {
    display: inline-block;
    height:287px;
    text-align: center;
    vertical-align: middle;
    width:287px;
}
.remote .wheel-height-keeper{
    height: 287px;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
    width:0.1rem;
}
.remote #wheel-left {
    width:125px;
    height:125px;
}
.remote #wheel-right {
    margin-left:-6rem;
}

.remote .wheel-animation {
    height: 125px;
    position: absolute;
    width: 125px;
}
.remote .wheel-animation-left {	margin: 81px 0 0 80px; }
.remote .wheel-animation-right { margin: 81px 0 0 323px }
.remote .wheel-animation-play {
    background: url(images/wheel-play.gif);
}
/* ============================================================================================ */
.remote .buttons {
    padding-bottom: 0.5rem;
}
.remote .button {
    height: 3rem;
    vertical-align: top;
    width: 3rem;
}
.remote .lblButton {
    color: #999;
    margin-top: 3rem;
}

.remote .button.loop { background-image: url(images/arrow-loop-48.png);}
.remote .button.play { background-image: url(images/black_4_audio_play-48.png);}
.remote .button.reset { background-image: url(images/black_4_audio_step_back-48.png);}
.remote .file {
    margin-top: 0.8rem;
    width: 24.9rem;
}

/* ============================================================================================ */
.remote .speed-bar {
    display: inline-block;
}
.remote .speed-bar .ui-slider-range { background: #34495e;}

/* ============================================================================================ */
.remote .progress-bar.ui-widget-content { background: #34495e; }
.remote .progress-bar .ui-slider-range { background: #3498db; }
.remote .controls .ui-slider .ui-slider-handle {
    cursor: pointer;
    border-color: #666;
}
.remote .progress-bar .progress-current {
    background: #ebe064; /*#2980b9;*/
    top: -0.02rem;
    /* margin-left: -.6em; */
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0.8em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}